*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

section{
    height: 150vh;
}
footer{
    text-align: center;
}

/* nav bar */
nav{
    background-color: rgb(218, 216, 216);
    position: sticky;
    top:0;
}
nav ul{
    padding:.5em;
    list-style: none;
    display: flex;
}
nav li{
    padding-right: 1em;
}
nav a{
    text-decoration: none;
    color: black;
}